In [1]:

import numpy as np
import pandas as pd

In [2]:
temps = pd.read_csv(r"C:\Users\jason\Downloads\TempNormals.csv")
humid = pd.read_csv(r"C:\Users\jason\Downloads\HumidityData_Formatted.csv")

In [3]:
#Dropping columns for afternoon data, as the majority of races are in the morning
humid.drop(columns=['Jan_a', 'Feb_a', 'Mar_a', 'Apr_a', 'May_a', 'Jun_a', 'Jul_a', 'Aug_a', 'Sep_a', 'Oct_a', 'Nov_a', 'Dec_a', 'Ann_a'], inplace=True)
humid['Start_Date'] = humid['Date'].str[0:4]
humid['End_Date'] = humid['Date'].str[5:9]
humid.drop(columns=['Date'], inplace=True)
humid['Median_Date'] = (humid['End_Date'].astype(int) + humid['Start_Date'].astype(int)) / 2
#Converting relative humidity values based on 2020 humidity trends
humid['Jan_m'] = humid['Jan_m'] - (0.05 * (2020 - humid['Median_Date']))
humid['Feb_m'] = humid['Feb_m'] - (0.05 * (2020 - humid['Median_Date']))
humid['Mar_m'] = humid['Mar_m'] - (0.05 * (2020 - humid['Median_Date']))
humid['Apr_m'] = humid['Apr_m'] - (0.05 * (2020 - humid['Median_Date']))
humid['May_m'] = humid['May_m'] - (0.05 * (2020 - humid['Median_Date']))
humid['Jun_m'] = humid['Jun_m'] - (0.05 * (2020 - humid['Median_Date']))
humid['Jul_m'] = humid['Jul_m'] - (0.05 * (2020 - humid['Median_Date']))
humid['Aug_m'] = humid['Aug_m'] - (0.05 * (2020 - humid['Median_Date']))
humid['Sep_m'] = humid['Sep_m'] - (0.05 * (2020 - humid['Median_Date']))
humid['Oct_m'] = humid['Oct_m'] - (0.05 * (2020 - humid['Median_Date']))
humid['Nov_m'] = humid['Nov_m'] - (0.05 * (2020 - humid['Median_Date']))
humid['Dec_m'] = humid['Dec_m'] - (0.05 * (2020 - humid['Median_Date']))
#Converting temperature values based on 2020 temperature trends
temps['January'] = temps['January'] + (14.5 * .025)
temps['February'] = temps['February'] + (14.5 * .025)
temps['March'] = temps['March'] + (14.5 * .025)
temps['April'] = temps['April'] + (14.5 * .025)
temps['May'] = temps['May'] + (14.5 * .025)
temps['June'] = temps['June'] + (14.5 * .025)
temps['July'] = temps['July'] + (14.5 * .025)
temps['August'] = temps['August'] + (14.5 * .025)
temps['September'] = temps['September'] + (14.5 * .025)
temps['October'] = temps['October'] + (14.5 * .025)
temps['November'] = temps['November'] + (14.5 * .025)
temps['December'] = temps['December'] + (14.5 * .025)
humid['Lon'] = humid['Lon'] * -1
#Creating columns for tempeture so that they can be added into the dataframe in the next cell
humid['Jan_Temp_avg'] = np.nan
humid['Feb_Temp_avg'] = np.nan
humid['Mar_Temp_avg'] = np.nan
humid['Apr_Temp_avg'] = np.nan
humid['May_Temp_avg'] = np.nan
humid['Jun_Temp_avg'] = np.nan
humid['Jul_Temp_avg'] = np.nan
humid['Aug_Temp_avg'] = np.nan
humid['Sep_Temp_avg'] = np.nan
humid['Oct_Temp_avg'] = np.nan
humid['Nov_Temp_avg'] = np.nan
humid['Dec_Temp_avg'] = np.nan
humid.head(10)

,City,Lat,Lon,Jan_m,Feb_m,Mar_m,Apr_m,May_m,Jun_m,Jul_m,...,Mar_Temp_avg,Apr_Temp_avg,May_Temp_avg,Jun_Temp_avg,Jul_Temp_avg,Aug_Temp_avg,Sep_Temp_avg,Oct_Temp_avg,Nov_Temp_avg,Dec_Temp_avg
0,13876BIRMINGHAM-AL,33.519,-86.810,79.150,78.150,78.150,81.150,83.150,83.150,85.150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03856HUNTSVILLE-AL,34.730,-86.586,79.375,79.375,78.375,80.375,83.375,85.375,87.375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,13894MOBILE-AL,30.700,-88.040,81.150,82.150,83.150,86.150,86.150,86.150,88.150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,13895MONTGOMERY-AL,32.380,-86.310,81.150,80.150,81.150,85.150,85.150,86.150,88.150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03103FLAGSTAFF-AZ,35.198,-111.651,68.200,67.200,64.200,58.200,54.200,45.200,61.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,23183PHOENIX-AZ,33.448,-112.074,58.150,54.150,48.150,37.150,30.150,26.150,40.150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,23160TUCSON-AZ,32.254,-110.974,54.150,51.150,45.150,35.150,28.150,27.150,50.150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,23194WINSLOW-AZ,35.801,-94.135,66.150,59.150,49.150,41.150,35.150,29.150,47.150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,13964FORT-SMITH-AR,35.384,-94.421,79.150,78.150,77.150,80.150,86.150,86.150,87.150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,13963LITTLE-ROCK-AR,34.745,-92.288,78.150,78.150,77.150,80.150,85.150,85.150,85.150,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
tempJanList = []
tempFebList = []
tempMarList = []
tempAprList = []
tempMayList = []
tempJunList = []
tempJulList = []
tempAugList = []
tempSepList = []
tempOctList = []
tempNovList = []
tempDecList = []
i = 0
j = 0
while i < humid['City'].count():
    while j < temps['Lat'].count():
        #Process to make iteration more efficient
        if (float(j < (temps['Lat'].count() - 25000)) and (float(temps.iloc[j+25000, 0]) < float(humid.iloc[i, 1]-.16))):
            j += 24999
        elif (float(j < (temps['Lat'].count() - 10000)) and (float(temps.iloc[j+10000, 0]) < float(humid.iloc[i, 1]-.16))):
            j += 9999
        elif (float(j < (temps['Lat'].count() - 4000)) and ((float(temps.iloc[j+4000, 0]) < float(humid.iloc[i, 1]-.16)))):
            j += 3999
        if ((float(humid.iloc[i, 2]) + .15) > float(temps.iloc[j, 1])) and (float(temps.iloc[j, 1]) > (float(humid.iloc[i, 2]) - .15)) and ((float(humid.iloc[i, 1]) + .15) > float(temps.iloc[j, 0])) and (float(temps.iloc[j, 0]) > (float(humid.iloc[i, 1]) - .15)):
            #If the coordinates in the tempature data are within .15 degrees of the coordinates in the humidity data, then the tempature data is stored
            tempJanList.append(temps.loc[i, 'January'])
            tempFebList.append(temps.loc[i, 'February'])
            tempMarList.append(temps.loc[i, 'March'])
            tempAprList.append(temps.loc[i, 'April'])
            tempMayList.append(temps.loc[i, 'May'])
            tempJunList.append(temps.loc[i, 'June'])
            tempJulList.append(temps.loc[i, 'July'])
            tempAugList.append(temps.loc[i, 'August'])
            tempSepList.append(temps.loc[i, 'September'])
            tempOctList.append(temps.loc[i, 'October'])
            tempNovList.append(temps.loc[i, 'November'])
            tempDecList.append(temps.loc[i, 'December'])
        elif (float(temps.iloc[j, 0]) > float(humid.iloc[i, 1]+.16)):
            j = 1000000
        j += 1
    if len(tempFebList) > 0:
        #Takes the avaerage of all the coordinates that were matched to the city to give a single value for tempeture
        humid.loc[i, 'Jan_Temp_avg'] = (np.mean(tempJanList)).round(2)
        humid.loc[i, 'Feb_Temp_avg'] = (np.mean(tempFebList)).round(2)
        humid.loc[i, 'Mar_Temp_avg'] = (np.mean(tempMarList)).round(2)
        humid.loc[i, 'Apr_Temp_avg'] = (np.mean(tempAprList)).round(2)
        humid.loc[i, 'May_Temp_avg'] = (np.mean(tempMayList)).round(2)
        humid.loc[i, 'Jun_Temp_avg'] = (np.mean(tempJunList)).round(2)
        humid.loc[i, 'Jul_Temp_avg'] = (np.mean(tempJulList)).round(2)
        humid.loc[i, 'Aug_Temp_avg'] = (np.mean(tempAugList)).round(2)
        humid.loc[i, 'Sep_Temp_avg'] = (np.mean(tempSepList)).round(2)
        humid.loc[i, 'Oct_Temp_avg'] = (np.mean(tempOctList)).round(2)
        humid.loc[i, 'Nov_Temp_avg'] = (np.mean(tempNovList)).round(2)
        humid.loc[i, 'Dec_Temp_avg'] = (np.mean(tempDecList)).round(2)
    tempJanList.clear()
    tempFebList.clear()
    tempMarList.clear()
    tempAprList.clear()
    tempMayList.clear()
    tempJunList.clear()
    tempJulList.clear()
    tempAugList.clear()
    tempSepList.clear()
    tempOctList.clear()
    tempNovList.clear()
    tempDecList.clear()
    i += 1
    j = 0

In [5]:
#Dropping the cities that did not have any matches in the temperature dataset 
if (humid.isnull().values.any()):
    humid.dropna(inplace=True)
#Coverting the relative humidity to dew point
humid['Jan_Dew'] = (humid['Jan_Temp_avg'] - ((100 - humid['Jan_m']) / 5)).round(2)
humid['Feb_Dew'] = (humid['Feb_Temp_avg'] - ((100 - humid['Feb_m']) / 5)).round(2)
humid['Mar_Dew'] = (humid['Mar_Temp_avg'] - ((100 - humid['Mar_m']) / 5)).round(2)
humid['Apr_Dew'] = (humid['Apr_Temp_avg'] - ((100 - humid['Apr_m']) / 5)).round(2)
humid['May_Dew'] = (humid['May_Temp_avg'] - ((100 - humid['May_m']) / 5)).round(2)
humid['Jun_Dew'] = (humid['Jun_Temp_avg'] - ((100 - humid['Jun_m']) / 5)).round(2)
humid['Jul_Dew'] = (humid['Jul_Temp_avg'] - ((100 - humid['Jul_m']) / 5)).round(2)
humid['Aug_Dew'] = (humid['Aug_Temp_avg'] - ((100 - humid['Aug_m']) / 5)).round(2)
humid['Sep_Dew'] = (humid['Sep_Temp_avg'] - ((100 - humid['Sep_m']) / 5)).round(2)
humid['Oct_Dew'] = (humid['Oct_Temp_avg'] - ((100 - humid['Oct_m']) / 5)).round(2)
humid['Nov_Dew'] = (humid['Nov_Temp_avg'] - ((100 - humid['Nov_m']) / 5)).round(2)
humid['Dec_Dew'] = (humid['Dec_Temp_avg'] - ((100 - humid['Dec_m']) / 5)).round(2)
humid.to_csv(r"C:\Users\Jason\Downloads\Humidity_Final.csv", index=False)
humid.head(10)

,City,Lat,Lon,Jan_m,Feb_m,Mar_m,Apr_m,May_m,Jun_m,Jul_m,...,Mar_Dew,Apr_Dew,May_Dew,Jun_Dew,Jul_Dew,Aug_Dew,Sep_Dew,Oct_Dew,Nov_Dew,Dec_Dew
0,13876BIRMINGHAM-AL,33.519,-86.810,79.150,78.150,78.150,81.150,83.150,83.150,85.150,...,64.44,68.98,72.78,75.53,76.91,76.95,75.76,73.50,68.09,64.17
1,03856HUNTSVILLE-AL,34.730,-86.586,79.375,79.375,78.375,80.375,83.375,85.375,87.375,...,64.48,68.82,72.82,75.96,77.35,77.40,76.20,73.76,68.33,64.23
2,13894MOBILE-AL,30.700,-88.040,81.150,82.150,83.150,86.150,86.150,86.150,88.150,...,65.45,69.96,73.38,76.13,77.52,77.57,76.40,73.58,68.53,64.82
3,13895MONTGOMERY-AL,32.380,-86.310,81.150,80.150,81.150,85.150,85.150,86.150,88.150,...,65.06,69.75,73.19,76.14,77.53,77.60,76.43,74.03,68.97,64.65
4,03103FLAGSTAFF-AZ,35.198,-111.651,68.200,67.200,64.200,58.200,54.200,45.200,61.200,...,61.50,63.99,66.67,67.79,72.15,73.85,72.08,69.13,64.48,61.15
5,23183PHOENIX-AZ,33.448,-112.074,58.150,54.150,48.150,37.150,30.150,26.150,40.150,...,57.93,59.61,61.69,63.81,67.74,68.66,67.08,65.14,61.30,59.02
6,23160TUCSON-AZ,32.254,-110.974,54.150,51.150,45.150,35.150,28.150,27.150,50.150,...,57.33,59.05,61.12,64.02,69.73,70.85,68.47,65.12,60.91,58.45
7,23194WINSLOW-AZ,35.801,-94.135,66.150,59.150,49.150,41.150,35.150,29.150,47.150,...,57.95,60.05,62.51,64.24,68.96,70.46,68.50,66.15,62.53,60.24
8,13964FORT-SMITH-AR,35.384,-94.421,79.150,78.150,77.150,80.150,86.150,86.150,87.150,...,63.37,67.89,72.57,75.66,76.94,76.86,75.88,73.13,67.37,63.31
9,13963LITTLE-ROCK-AR,34.745,-92.288,78.150,78.150,77.150,80.150,85.150,85.150,85.150,...,63.19,67.54,72.01,75.28,76.35,76.66,75.30,72.74,67.19,62.94

In [6]:
final = pd.read_csv(r"C:\Users\Jason\Downloads\Humidity_Final.csv")
#Combining the dew point and temperature to create a heat index
final['Jan_HHindex'] = (final['Jan_Temp_avg'] + final['Jan_Dew'])
final['Feb_HHindex'] = (final['Feb_Temp_avg'] + final['Feb_Dew'])
final['Mar_HHindex'] = (final['Mar_Temp_avg'] + final['Mar_Dew'])
final['Apr_HHindex'] = (final['Apr_Temp_avg'] + final['Apr_Dew'])
final['May_HHindex'] = (final['May_Temp_avg'] + final['May_Dew'])
final['Jun_HHindex'] = (final['Jun_Temp_avg'] + final['Jun_Dew'])
final['Jul_HHindex'] = (final['Jul_Temp_avg'] + final['Jul_Dew'])
final['Aug_HHindex'] = (final['Aug_Temp_avg'] + final['Aug_Dew'])
final['Sep_HHindex'] = (final['Sep_Temp_avg'] + final['Sep_Dew'])
final['Oct_HHindex'] = (final['Oct_Temp_avg'] + final['Oct_Dew'])
final['Nov_HHindex'] = (final['Nov_Temp_avg'] + final['Nov_Dew'])
final['Dec_HHindex'] = (final['Dec_Temp_avg'] + final['Dec_Dew'])
print(final[['Jan_HHindex', 'Feb_HHindex', 'Mar_HHindex', 'Apr_HHindex', 'May_HHindex', 'Jun_HHindex', 'Jul_HHindex', 'Aug_HHindex', 'Sep_HHindex', 'Oct_HHindex', 'Nov_HHindex', 'Dec_HHindex']].values.mean())
print(final[['Jan_HHindex', 'Feb_HHindex', 'Mar_HHindex', 'Apr_HHindex', 'May_HHindex', 'Jun_HHindex', 'Jul_HHindex', 'Aug_HHindex', 'Sep_HHindex', 'Oct_HHindex', 'Nov_HHindex', 'Dec_HHindex']].values.std())
summary = {'Month' : ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'], 'Mean' : [final['Jan_HHindex'].mean(), final['Feb_HHindex'].mean(), final['Mar_HHindex'].mean(), final['Apr_HHindex'].mean(), final['May_HHindex'].mean(), final['Jun_HHindex'].mean(), final['Jul_HHindex'].mean(), final['Aug_HHindex'].mean(), final['Sep_HHindex'].mean(), final['Oct_HHindex'].mean(), final['Nov_HHindex'].mean(), final['Dec_HHindex'].mean()], 'Standard Deviation' : [final['Jan_HHindex'].std(), final['Feb_HHindex'].std(), final['Mar_HHindex'].std(), final['Apr_HHindex'].std(), final['May_HHindex'].std(), final['Jun_HHindex'].std(), final['Jul_HHindex'].std(), final['Aug_HHindex'].std(), final['Sep_HHindex'].std(), final['Oct_HHindex'].std(), final['Nov_HHindex'].std(), final['Dec_HHindex'].std()]}
summary = pd.DataFrame(summary)
summary['Lower_Bound'] = summary['Mean'] - ((summary['Standard Deviation']))
summary['Upper_Bound'] = summary['Mean'] + ((summary['Standard Deviation']))
print(summary['Upper_Bound'].max() - summary['Lower_Bound'].min())
print(.045 + ((summary['Upper_Bound'].max() - 150) * .0015))
print((summary['Lower_Bound'].min()-100) / 2000)
summary

132.07162628487518
13.397303987992533
43.79416065288926
0.04777818708761644
0.0040289820360941845

        Month        Mean  Standard Deviation  Lower_Bound  Upper_Bound
0     January  112.492070            4.434106   108.057964   116.926177
1    February  116.293700            4.589052   111.704649   120.882752
2       March  119.742291            4.799456   114.942835   124.541747
3       April  126.664493            5.435633   121.228860   132.100127
4         May  135.212159            5.168029   130.044129   140.380188
5        June  144.238590            3.954784   140.283807   148.193374
6        July  147.188106            3.823059   143.365046   151.011165
7      August  148.379251            3.472874   144.906377   151.852125
8   September  147.104714            3.203988   143.900726   150.308702
9     October  140.187357            3.427249   136.760108   143.614606
10   November  127.970749            4.151627   123.819122   132.122376
11   December  119.386035            4.212872   115.173164   123.598907